<%- include('../partials/head') %> 

<h1>LISTADO DE PACIENTES</h1>

<p><a href="/patients/create">+ NUEVO PACIENTE</a></p>
<div>
    <table class="default">
        <tr>
            <th>DNI</th>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Obra social</th>
            <th></th>
        </tr>
        <% patients.forEach(patient=> { %>
            <tr>
                <td><%= patient.dni%></td>
                <td><%= patient.lastname%>, <%= patient.name%></td>
                <td><%= patient.phone%></td>
                <td><%= patient.email%></td>
                <td><%= patient.workSocial.name%></td>
                <td>
                    <a href="/patients/<%= patient.id %>/edit"> Editar</a> |
                    <a href="/patients/<%= patient.id %>/delete"> Eliminar</a> |
                    <a href="/patients/show/<%= patient.id %>"> Ver</a>
                </td>
            </tr>
        <% });%>
    </table>
</div>

<%- include('../partials/footer') %> 